@model _20T1080027.DomainModels.Shipper
@{

}

<div class="box box-primary">
    <div class="box-body">

        <form class="form-horizontal" action="~/Shipper/Save" method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" name="ShipperID" value="@Model.ShipperID" />
            <div class="form-group">
                <div class="col-sm-10">
                    @Html.ValidationSummary("", new { @style = "color:#f00" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Tên nhân viên giao hàng:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="ShipperName" value="@Model.ShipperName" autofocus>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Số điện thoại:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="Phone" value="@Model.Phone">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">
                        <i class="glyphicon glyphicon-floppy-disk"></i>
                        Lưu dữ liệu
                    </button>
                    <a href="~/Shipper" class="btn btn-danger">
                        Quay lại
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>


